<% @stocks.each do |stock| %>

<% album = Album.find(stock.album_id) %>
<% artist = Artist.find(album.artist_id) %>

<p>
<%= album.title %> by 
<%= artist.name %>
<%= stock.quantity %>
</p>
<hr>
<% end %>


<a href="/stocks/new">Add New stocks</a>