<p>
<form action="/stocks/search_artist" method="get">
  <input type="text" name="search"></input>
  <input type="submit" value="Search artists"></input>
</form>
</p>

<p>
<form action="/stocks/search_album" method="get">
  <input type="text" name="search"></input>
  <input type="submit" value="Search albums"></input>
</form>
</p>

<table id="stock_table">
  <head>
    <th>Album</th>
    <th>Artist</th>
    <th>Quantity</th>
    <th>Order Stock</th>
    <th>Buy Price</th>
    <th>Sell Price</th>
  </head>
  <body>
  <tr><td>None Found</td></tr>
  </body>

</table>
</form>
<hr>