<form action="/till" method="post">


<div id="till">
  
  <select name="stock_id">
    <% for stock in @stocks %>
    <option value="<%= stock.id %>">
      <% album = Album.find(stock.album_id) %>
      <%= album.title %> by <%= Artist.find(album.artist_id).name %>
    </option>
    <% end %>
  </select>

<p>
    <label for="quantity">Quantity:</label>
  <input type="number" name="quantity"/>
</p>

<p>
  <input type="submit" />
</p>

</form>

<p>Total Revenue: <%= @total_revenue %></p>

<p><a href="/till/index">Transaction Logs</a></p>


</div>