<link rel="stylesheet" type="text/css" href="/bike.css">
<a href="/till">
<div id="text-background"></div>
</a>
<div id="title-text">Batman's Music Shop</div>

<div id="bike-background">
</div>

<div id="bike-box">
  <a href="/stocks">

    <div class="screen">
      <div class="bike-screen">
        <div class="bike">
          <div class="left-handle"></div>
          <div class="right-handle"></div>
          <div class="headlight"></div>
          <div class="left-suspension"></div>
          <div class="left-support"></div>
          <div class="right-suspension"></div>
          <div class="right-support"></div>
          <div class="body"></div>
          <div class="wheel"></div>
        </div>
      </div>
      <div class="road"></div>
    </div>

  </a>
</div>

