body {
    background-image: url("shop.jpg");
    background-size: 986px 652px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #111;
}

#stock_table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#stock_table td, #stock_table th {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}

#stock_table tr {
    background-color: #f2f2f2
}

#stock_table tr:hover {background-color: #ddd;}

#stock_table th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: grey;
    color: black;
}

#content {
    background-color: #ddd;
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
}

#till {
    float: left;
    padding: 10px;
    margin: 50px;
    background-color: #ddd;
    height: 200px;
    width: 300px;
    border-radius: 5px;
}