<div id="content">

<% @artists.each do |artist| %>

<p>artist:</p>
<p><a href="/artists/<%= artist.id %>">
    <%= artist.name %>
</a>
  </p>
<a href="/artists/<%= artist.id %>/edit ">Edit artist</a>
  <hr>
<% end %>

</div>

<a class="bottom-link" href="/artists/new">Add New artists</a>