<p>Hello</p>

<h2>Create new Artist:</h2>

<form action="/artists" method="post">

  <label for="name">Name:</label>
  <input type="text" name="name"></input>


  <input type='submit' value="Submit">

  
</form>